{% extends 'member/member_server.html' %}

{% block content %}
<style>
    table{
        border-top: 3px solid rgba(116, 111, 111, 0.39);
        border-left: 1px solid rgba(116, 111, 111, 0.59);
        border-right: 1px solid rgba(116, 111, 111, 0.59);
    }
    tr{
        border-bottom: 2px solid slategray;
        text-align: left;
    }
    td{
        border-bottom: 2px solid slategray;
    }
    td a{
        text-decoration: none;
        color: rgb(2, 33, 61);
    }
    tr:nth-child(even){
        background-color: rgb(179, 212, 218);
    }
    .dataTable-container {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  }
  .dataTable-wrapper .dataTable-container {
  font-size: 0.875rem;
}
.dataTable-wrapper.no-header .dataTable-container {
  border-top: none;
}
.dataTable-wrapper.no-footer .dataTable-container {
  border-bottom: none;
}

</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script src="../../static/js/mychar.js"></script>
<script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="../../static/css/dataables_lastest.css">
<div id="content1"  >
    <div class="title_0">
        <a class="amember"><div class="Table_of_contents active2" id="control_center">管理 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right img_abs" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
          </svg>
        </div></a>
        <a class="amember2"  href="{% url 'control_center' %}"><div class="control active2">管理中心</div></a>
        <a class="amember2"  href="{% url 'recommend_log' %}"><div class="control">推送紀錄</div></a>
        <a class="amember2"  href="{% url 'notice' %}"><div class="control" >通知中心</div></a>
    </div>
    <div class="title_1">
        <a class="amember total"><div class="Table_of_contents" id="love" >收藏 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right img_abs" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
          </svg>
        </div></a>
        <a class="amember2"  href="{% url 'user' %}"><div class="Table_of_content" >全部</div></a>
        <a class="amember2" href="{% url 'like_like' %}"><div class="Table_of_content" >我的最愛</div></a>
        <a class="amember2" href="{% url 'like_recommend' %}"><div class="Table_of_content">推薦</div></a>
        <a class="amember2" href="{% url 'user_great' %}"><div class="Table_of_content " >點讚紀錄</div></a>
    </div>
    <div class="title_2">
            <a class="amember" ><div class="Table_of_contents super_function" id="super_function">功能 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right img_abs" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
              </svg></div></a>
            <a class="amember2"  href="{% url 'user_recommend' %}"><div class="function" >推薦功能</div></a>
    </div>
    <div class="title_3">
            <a class="amember"><div class="Table_of_contents" id="member_user">設定 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right img_abs" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
              </svg></div></a>
            <a class="amember2"  href="{% url 'change' %}"><div class="Table_of_content_member " >帳號安全</div></a>
            <a class="amember2" href="{% url 'opinion' %}"><div class="Table_of_content_member " >意見箱</div></a>

    </div>
</div>
<div class="container-fluid px-4" style="height:auto !important;">
    <h2 class="mt-4 text-dark font-weight-bolder text-muted" style="background-color: rgb(255, 255, 255);padding: 10px;border-radius: 30px;"><strong>用戶管理中心</strong></h2>
    <ol class="breadcrumb mb-4">
    </ol>
    <div class="row">
        <div class="col-xl-3 col-md-6" >
            <div class="card bg-primary text-white mb-4">
                <div class="card-body">全部收藏</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="{% url 'user' %}">點此連結</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-warning text-white mb-4">
                <div class="card-body">我的最愛</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="{% url 'like_like' %}">點此連結</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-success text-white mb-4">
                <div class="card-body">推薦資料</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="{% url 'like_recommend' %}">點此連結</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-danger text-white mb-4">
                <div class="card-body">通知中心!</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="{% url 'notice' %}">點此連結</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-4" style="color:black !important;">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            我的資料
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <div style="position: relative;height: 30px;margin-bottom: 10px;" >
                    <button type="button" class="btn btn-danger text-ri" style="position: absolute;left: 10px;top: 0px;"  id="remove">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle ver_1" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                          </svg> 刪除</button>
                </div>
                <thead>
                    <tr>
                        <th>操作</th>
                        <th>工作名稱</th>
                        <th>公司名稱</th>
                        <th>地點</th>
                        <th>薪水</th>
                        <th>工作技能</th>
                        <th>證照要求</th>
                        <th>添加日期</th>
                        <th>工作類</th>
                        <th>類型</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in dict_total_like %}
                            <tr>
                                <td>
                                    <input type="checkbox" class="delect_box" name="delect_box" value="{{i.like_jobid.jobid}}-{{i.like_type}}">
                                </td>
                                <td><a href="{{i.like_jobid.href}}" target="_blank">{{i.like_jobid.title}}</a></td>
                                <td>{{i.like_jobid.company}}</td>
                                <td>{{i.like_jobid.local}}</td>
                                <td>{{i.like_jobid.salary}}</td>
                                <td>{{i.like_jobid.skill}}</td>
                                <td>{{i.like_jobid.certificate}}</td>
                                <!--                                 <td>{{i.like_user_skill}}</td> -->
                                <td>{{i.like_date}}</td>
                                <td>{{i.like_jobid.type_id}}</td>
                                {% if i.like_type == "like" %}
                                    <td>我的最愛</td>
                                {% else %}
                                    <td>推薦</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>





</div>
<script src="../../static/js/scripts.js"></script>
<script src="../../static/js/chart-bar-demo.js"></script>
<script src="../../static/js/chart-area-demo.js"></script>
<script src="../../static/js/simple-datatables-classic.js" type="text/javascript"></script>
<script src="../../static/js/datatables-user_index.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
window.onload = function (){
    // document.getElementsByClassName('Table_of_contents')[1].innerHTML = '分析功能'
    window.addEventListener('resize', zzy)
}

jQuery(document).ajaxSend(function(event, xhr, settings) {
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    function sameOrigin(url) {
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
            // or any other URL that isn't scheme relative or absolute i.e relative.
            !(/^(\/\/|http:|https:).*/.test(url));
    }
    function safeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
    }
});



document.getElementById('remove').addEventListener('click',function(){
    let id= ""
    let type = ""
    let count = 0
    let z = document.getElementsByClassName('delect_box')
    for(let i=0;i<z.length;i++){
        if(z[i].checked){
            count+=1
            content = z[i].value.split('-')
            id+=content[0]+'-'
            type+=content[1]+'-'
        }
    }
    if(count==0){
        swal({
        title: "您沒有要刪除的資料!",
        text: "You have no data to delete!",
        icon: "error",
        dangerMode: true,
        })
    }else{
        swal({
        title: "是否刪除"+count+"筆資料!",
        text: "Please confirm whether to delete the data !",
        icon: "warning",
        buttons:['我再考慮一下','刪除'],
        dangerMode: true,
        })
        .then((willDelete) => {
        if (willDelete) {
            data_dict = {
                'id':id,
                'type':type,
            }
            console.log( data_dict)
            $.ajax({
                url:'{% url "remove_user_data" %}',
                type:'POST',
                data:data_dict,
                dataType:'json',
                success:function(mesg){
                    if(mesg.status == "error"){
                        swal({
                        title: "資料錯誤",
                        text: mesg.message,
                        icon: "error",
                        button: "好的",
                        })
                    }else{
                        swal({
                        title: "恭喜您更改成功!",
                        text: "You change the data!",
                        icon: "success",
                        button: "好的",
                        }).then((value) => {
                            window.location.reload();
                        });
                    }
                },
                error:function(mesg){
                    swal({
                        title: "資料錯誤!",
                        text: mesg.statusText,
                        icon: "error",
                        button: "好的",
                        }).then((value) => {
                    });
                }
            })
        }
        });
    }
})



function zzy(){
//   $('.cover_base').css({'visibility':'hidden'})
//   $('.cover_base').css({'opacity':'0'})
    $('container-fluid').css({'height':'auto'})
}


</script>
{% endblock %}