{% extends 'Admin/index.html' %}
{% block main %}

<style>
    .hidd_div div{
        margin-bottom: 20PX;
    }
    .hidd_div div span{
        margin-bottom: 20PX;
        margin-left: 30px;
    }
    .hidd_div{
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .job_inner{
        width: auto;
    }
    #textare{
        width: auto;
        height: auto;
    }
    .table_change{
        float: left;
        margin-right:30px;
    }
    .table_change th,.table_change td{
        padding-bottom: 30px;
        margin-bottom: 10px;
    }
    .table_change input,.table_change textarea,.table_change select{
        margin-left: 20px;
    }
    .table_change textarea{
        width: 200px;
        height: 200px;
        resize:none;
    }
    #upandno{
        clear: left;
        display: flex;
        justify-content: center;
    }
    #upandno button{
        margin-right: 10px;
    }
    .ver_1{
        vertical-align: -1px;
    }
    #table_data{
        border-top: 1px solid #d9d9d9;
        margin-top: 20px;
    }
    #table_data td{
        text-align: center;
        vertical-align: top;
    }
    #table_data th{
	    border-top: 3px solid #d9d9d9;
        vertical-align: top;
        text-align: center;
        padding: 15px 15px ;
        min-width: 100px;
    }
    .line-clamp-content{
        line-height: 50px !important;
    }
    .line-clamp-content2{
        line-height: 50px !important;
    }
    #search_key{
        outline-style: none ;
        border: 1px solid #ccc; 
        border-radius: 3px;
        padding: 5px 5px;
        font-size: 14px;
        font-weight: 700;
        width: 200px;
        font-family: "Microsoft soft";
    }
    #search_key_type{
        outline-style: none ;
        border: 1px solid #ccc; 
        border-radius: 3px;
        padding: 5px 5px;
        font-size: 14px;
        font-weight: 700;
        width: 100px;
        height: 33px;
        font-family: "Microsoft soft";
    }
    #key_word_submit{
        background-color: antiquewhite;
        margin-left: 0px;
        border-radius: 3px;
        margin-left: -5px;
        border: 1px solid #ccc; 
        height: 32px !important;
    }
    #search_key:focus{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}
#crawler_manage{
        color: rgb(207, 255, 226);
    }
</style>


<div class="container-fluid px-4">
    <h1 class="mt-4">職缺管理系統</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">您可以對職缺進行新增、刪除、修改，
            感謝您的配合。
        </li>
    </ol>
    <div class="card mb-4 Regular" style="box-shadow:1px 1px 3px !important">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            工作職缺表
        </div>
        <div class="card-body table-responsive" >
            <form  action="{% url 'job_index' %}" method="get" >
                <span style="margin-top: 10px; position: absolute;right: 120px;width: 240px;">
                    <select id="search_key_type" name="search_key_type"  onchange="change_button(this)">
                      <option value="jobid">jobid</option>
                      <option value="get_website_id" >get_website_id</option>
                      <option value="title">title</option>
                      <option value="date">date</option>
                      <option value="type">type</option>
                  </select>
              </span>
               <span style="margin-top: 10px; position: absolute;right: 20px;width: 240px;">
                      <input id="search_key" name="key_word_submit_2"  value="{{keyword}}">
                      <button type="submit" id="key_word_submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                      </svg></button>
                      </span>
              </form>
            <table id="datatablesSimple" style="position: relative !important;" >
                <button type="button" class="btn btn-danger m-1" id="remove">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle ver_1" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                      </svg> 刪除</button>
                <thead >
                    <tr >
                        <th>操作功能</th>
                        <th>jobid</th>
                        <th>get_website_id</th>
                        <th>來源</th>
                        <th>更新日期</th>
                        <th>工作類型</th>
                        <th>工作職稱</th>
                        <th>公司</th>
                        <th>地區</th>
                        <th style="min-width: 200px !important;">工作內容</th>
                        <th>薪資</th>
                        <th>工作連結</th>
                        <th>經驗</th>
                        <th>學歷</th>
                        <th>系所限制</th>
                        <th>技能需求</th>
                        <th>語言限制</th>
                        <th id="addicition"  style="min-width: 400px !important;">附加條件</th>
                        <th>其它</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in current_page %}
                    <tr class="job_total" onclick="change_job(event,'{{forloop.counter}}')">
                        <td>
                            <input type="checkbox" class="delect_box" name="delect_box" value="{{i.jobid}}">
                        </td>
                            <td>{{i.jobid}}</td>
                            <td>{{i.get_website_id}}</td>
                            <td>{{i.website}}</td>
                            <td>{{i.date}}</td>
                            <td>{{i.type_id}}</td>
                            <td>{{i.title}}</td>
                            <td>{{i.company}}</td>
                            <td>{{i.local}}</td>
                            <td class="job_line_he30">
                            <p class="line-clamp-content" >
                            {{i.content}}
                            </p>
                            <p onclick="open_line('{{forloop.counter}}')" style="text-align:right ;margin-top: -20px;" class="line-clamp-open" ></p>
                            </td>
                            <td>{{i.salary}}</td>
                            <td>{{i.href}}</td>
                            <td>{{i.experience}}</td>
                            <td>{{i.Education}}</td>
                            <td>{{i.department}}</td>
                            <td>{{i.skill}}</td>
                            <td>{{i.language}}</td>
                            <td class="job_line_he302">
                            <p class="line-clamp-content2" >
                            {{i.Additional_conditions}}
                            </p>
                            <p onclick="open_line2('{{forloop.counter}}')" style="text-align:right ;margin-top: -20px;" class="line-clamp-open2" ></p>
                            </td>
                        <td>{{i.other}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div  class="hidd_div p-5">
            <table class="table_change" >
                <tbody>
                    <tr class="id">
                        <th>jobid</th>
                        <td><input class="job_inner" readonly type="text" value=""></td>
                    </tr>
                    <tr>
                        <th>get_website_id</th>
                        <td><input readonly class="job_inner" type="text" value=""></td>
                    </tr>
                    <tr>
                        <th>來源</th>
                        <td><input class="job_inner" readonly type="text" value=""></td>
                    </tr>
                    <tr>
                        <th>更新日期</th>
                        <td><input class="job_inner" readonly type="date" value=""></td>
                    </tr>
                    <tr>
                        <th>工作類型</th>
                            <td><input class="job_inner" readonly type="text" value=""></td>
                    </tr>
                    <tr>
                        <th>工作職稱</th>
                        <td><input class="job_inner" readonly type="text" value=""></td>
                    </tr>
                    <tr>
                        <th>公司</th>
                        <td><input class="job_inner" readonly type="text" value=""></td>
                    </tr>
                    <tr>
                        <th>地區</th>
                        <td><input class="job_inner" readonly type="text" value=""></td>
                    </tr>
                    <tr>
                        <th>工作內容</th>
                        <td><textarea class="job_inner" readonly type="text" value=""></textarea></td>
                    </tr>
                </tbody>
            </table>
            <table class="table_change">
                <tbody>
                    <tr>
                        <th>薪資</th>
                        <td><input class="job_inner"readonly  type="text" value=""></td>
                    </tr>
                    <tr>
                        <th>工作連結</th>
                        <td><input class="job_inner" readonly type="text" value=""></td>
                    </tr>
                    <tr>
                        <th>經驗</th>
                        <td><input class="job_inner" readonly type="text" value=""></td>
                    </tr>
                    <tr>
                        <th>學歷</th>
                        <td><input class="job_inner"  readonly type="text" value=""></td>
                    </tr>
                    <tr>
                        <th>系所限制</th>
                        <td><input class="job_inner" readonly type="text" value=""></td>
                    </tr>
                    <tr>
                        <th>技能需求</th>
                        <td><input class="job_inner" readonly type="text" value=""></td>
                    </tr>
                    <tr>
                        <th>語言限制</th>
                        <td><input class="job_inner" readonly type="text" value=""></td>
                    </tr>
                    <tr>
                        <th>附加條件</th>
                        <td><input class="job_inner" readonly type="text" value=""></td>
                    </tr>
                    <tr>
                        <th>其它</th>
                        <td><input class="job_inner" readonly type="text" value=""></td>
                    </tr>
                </tbody>
            </table>
            <div  id="upandno">
                <button type="button" class="btn btn-danger" id="none_data">返回</button>
            </div>
        </div>
    </div>
    <form id="getjob_submit" method="GET" action="{% url 'job_index' %}">
        <input hidden name="key_word_submit_2" value="{{keyword}}" >
        <input hidden name="search_key_type"  value="{{type_keyword}}">
        <nav id="page_search"  aria-label="Page navigation example">
            <ul class="pagination justify-content-center page_nav">
            {% if current_page.has_previous %}
            <li class="page-item">
                <span class="page-link" onclick="page_fun('last')"><<</span>
            </li>
            {% else %}
            <li class="page-item disabled">
                <span class="page-link" ><<</span>
            </li>
            {% endif %}
            {% if page_start_end.start %}
                <li class="page-item" onclick="page_fun('1')"><a class="page-link" >1</a></li>
                <li class="page-item" ><a class="page-link" >...</a></li>
            {% endif %}
            {% for item in page_range %}
                {% if page == item %}
                    <li class="page-item active">
                        <span class="page-link">
                        {{item}}
                        </span>
                    </li>
                {% else %}
                    <li class="page-item" onclick="page_fun('{{item}}')"><a class="page-link" >{{item}}</a></li>
                {% endif %}
            {% endfor %}
            {% if page_start_end.end %}
                <li class="page-item"><a class="page-link" >...</a></li>
                <li class="page-item" onclick="page_fun('{{page_start_end.max_page}}')" ><a class="page-link" >{{page_start_end.max_page}}</a></li>
            {% endif %}
            {% if current_page.has_next %}
            <li class="page-item">
                <a class="page-link" onclick="page_fun('next')" >>></a>
            </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link">>></a>
                </li>
            {% endif %}
            </ul>
        </nav>
        <input name="page" id="page" hidden value="{{page}}">
    </form>
</div>
<script src="../../static/js/clamp.js"></script>
<script>
        document.getElementById('collapseLayouts').classList.add('show')
    document.getElementById('crawler_title_nav').classList.remove('collapsed')
    if("{{type_keyword}}" != ""){
        document.getElementById('search_key_type').value ="{{type_keyword}}"
    }else{
        document.getElementById('search_key_type').value ="jobid"
    }
    change_button(document.getElementById('search_key_type'))
    function change_button(event){
        if(event.value=="id"){
            document.getElementById('search_key').type = "number"
        }else if(event.value =="date"){
            document.getElementById('search_key').type = "date"
        }else{
            document.getElementById('search_key').type = "text"
        }
        document.getElementById('search_key').value = ""
    }
    document.getElementById('search_key').value = "{{keyword}}"
        let header = document.getElementsByClassName('line-clamp-content')
        let open_header = document.getElementsByClassName('line-clamp-open')
        let job_line_he30 = document.getElementsByClassName('job_line_he30')
        for(let i=0;i<header.length;i++){
            if(header[i].clientHeight/50>3){
                open_header[i].innerHTML = '<span class="open_content">展開</span>';
                $clamp(header[i], {clamp:3, useNativeClamp: true,animate: true});
                job_line_he30[i].style.marginBottom = '0px'
            }
        }
        header = document.getElementsByClassName('line-clamp-content2')
        open_header = document.getElementsByClassName('line-clamp-open2')
        job_line_he30 = document.getElementsByClassName('job_line_he302')
        for(let i=0;i<header.length;i++){
            if(header[i].clientHeight/50>3){
                open_header[i].innerHTML = '<span class="open_content">展開</span>';
                $clamp(header[i], {clamp:3, useNativeClamp: true,animate: true});
                job_line_he30[i].style.marginBottom = '0px'
            }
        }
        function open_line(count){
        let open_cmp = document.getElementsByClassName('line-clamp-open')[count-1]
        let header = document.getElementsByClassName('line-clamp-content')[count-1]
        if(open_cmp.innerHTML == '<span class="open_content">展開</span>'){
            $clamp(header, {clamp:1000, useNativeClamp: true,animate: true});
            open_cmp.innerHTML = '<span class="close_content">收起</span>'
        }else{
            $clamp(header, {clamp:3, useNativeClamp: true,animate: true});
            open_cmp.innerHTML = '<span class="open_content">展開</span>'
        }
    }
    function open_line2(count){
        let open_cmp = document.getElementsByClassName('line-clamp-open2')[count-1]
        let header = document.getElementsByClassName('line-clamp-content2')[count-1]
        if(open_cmp.innerHTML == '<span class="open_content">展開</span>'){
            $clamp(header, {clamp:1000, useNativeClamp: true,animate: true});
            open_cmp.innerHTML = '<span class="close_content">收起</span>'
        }else{
            $clamp(header, {clamp:3, useNativeClamp: true,animate: true});
            open_cmp.innerHTML = '<span class="open_content">展開</span>'
        }
    }

document.getElementById('remove').addEventListener('click',function(){
    let jobid = ""
    let count = 0
    z = document.getElementsByClassName('delect_box')
    for(let i=0;i<z.length;i++){
        if(z[i].checked){
            count+=1
            jobid+=z[i].value+'、)'
        }
    }
    if(count==0){
        swal({
        title: "您沒有要刪除的資料!",
        text: "You have no data to delete!",
        icon: "error",
        dangerMode: true,
        })
    }else{
        swal({
        title: "是否刪除"+count+"筆資料!",
        text: "Please confirm whether to delete the data !",
        icon: "warning",
        buttons:['我再考慮一下','刪除'],
        dangerMode: true,
        })
        .then((willDelete) => {
        if (willDelete) {
            data_dict = {
                'jobid':jobid,
            }
            data_dict['type'] = "delete"
            $.ajax({
                url:'{% url "job_change" %}',
                type:'POST',
                data:data_dict,
                dataType:'json',
                success:function(mesg){
                    swal({
                        title: "恭喜您更改成功!",
                        text: "You change the data!",
                        icon: "success",
                        button: "好的",
                        }).then((value) => {
                            window.location.reload();
                        });
                },
                error:function(mesg){
                    swal({
                        title: "資料錯誤!",
                        text: mesg.statusText,
                        icon: "error",
                        button: "好的",
                        }).then((value) => {
                    });
                }
            })
        }
        });
    }
})

window.onload = function(){
    $('.hidd_div').hide()
}

function page_fun(state){
    page = document.getElementById('getjob_submit')
    page2 = document.getElementById('page').value
    if(state == 'last'){
        page.page.value =parseInt(page2,10)-1
        page.submit()
    }else if(state == 'next'){
        page.page.value =parseInt(page2,10)+1
        page.submit()
    }else{
        page.page.value = parseInt(state,10)
        page.submit()
    }

}

function change_job(event,jobid){
    if(event.target.nodeName == 'SPAN'){
    }else if(event.target.nodeName !='INPUT'){
    $('.card-body').hide()
    $('#page_search').hide()
    z =  document.getElementsByClassName('job_total')[jobid-1]
    let job_inner =  document.getElementsByClassName('job_inner')
    z=z.children
    for(let i=1;i<19;i++){
        if(i==4){
            x = z[i].innerHTML.replace('年','-').replace('月','-').replace('日','').split('-')
            for(let i=0;i<x.length;i++){
                if(x[i].length<2){
                    x[i]="0"+x[i]
                }
            }
            job_inner[i-1].value =  x[0]+'-'+x[1]+'-'+x[2];
        }
        else if(i==9)
        {
            job_inner[i-1].value = z[i].children[0].innerHTML.replace(/^(\r\n|\n|\r|\t| )+/gm, "");
        }
        else if(i==17){
            job_inner[i-1].value = z[i].children[0].innerHTML.replace(/^(\r\n|\n|\r|\t| )+/gm, "");
        }else{
                    job_inner[i-1].value =  z[i].innerHTML;
        }
    }
    $('.hidd_div').show()
    }
}



document.getElementById('none_data').addEventListener('click',function(){
    $('.hidd_div').hide()
    $('.card-body').show()
    $('#page_search').show()
    $('.id').show()
    let job_inner =  document.getElementsByClassName('job_inner')
    for(let i=1;i<19;i++){
        job_inner[i-1].value =  "";
    }
})

document.getElementById('btnNavbarSearch').addEventListener('click',function(){

let search  = JSON.parse('{{list_search | safe}}')[document.getElementById('search_index').value]
search = document.URL.replace('/job_index/',search)
document.getElementById('search_form').action = search
document.getElementById('search_form').submit()
})
</script>


{% endblock %}