<!DOCTYPE html>
<html>
<head>
    <style>
        table, th, td {
          border:1px groove black;
        }
        th, td{
            border-collapse: collapse;
        }
    </style>
    <meta charset='utf-8'>
    <title>基本資料</title>
</head>
<body>
    <h3>
    {% for person in persons%}
       <h2>第 {{forloop.counter}} 位員工</h2>
       <ul>
           <li>姓名：{{person.name}}</li>
           <li>手機：{{person.phone}}</li>
           <li>年齡：{{person.age}}</li>
       </ul>
    {% empty %}
       沒有任何資料
    {% endfor %}
    </h3>
    <table  style="border:1px block groove;">
        {% for xx in night %}
        <tr>
            <td>{{xx.number1}}</td>
            <td>{{xx.number2}}</td>
            <td>{{xx.number3}}</td>
            <td>{{xx.number4}}</td>
            <td>{{xx.number5}}</td>
            <td>{{xx.number6}}</td>
            <td>{{xx.number7}}</td>
            <td>{{xx.number8}}</td>
            <td>{{xx.number9}}</td>
        </tr>
        {% empty %}
        {% endfor %}
    </table>
</body>
</html>
